body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.inicio{

    width: 450px;
    color: white;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    padding: 60px 45px ;
    padding-bottom: 30px;
    

}

.inicio .boton{

    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 25px;

}