body{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../IMG/FondoRegister.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.inicio{

    width: 450px;
    color: white;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    padding: 60px 45px ;
    padding-bottom: 40px;

}

.inicio h1{

    font-size: 35px;

    text-align: center;

}

.inicio .cajadetexto{

    width: 100%;
    height: 50px;
    margin: 30px 0;
    position: relative;

}

.cajadetexto input{
    
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
    color: white;

}

.cajadetexto input::placeholder{
    color: white;
}

.cajadetexto .icono{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.error{
    color: red;
    font-weight: 500;
    margin-left: 15px;
}

.inicio .recordarme-contraseña {

    display: flex;
    justify-content: space-between;
    margin: -15px 0 20px;
    font-weight: 600;

}

.recordarme-contraseña label input{

    accent-color: white;
    margin-right: 3px;

}



.inicio .boton{

    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}

.btn {

    --bs-btn-border-radius: 45px;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;

}

.inicio .iniciar{

    font-size: 15px;
    text-align: center;
    margin-top: 40px;
    font-weight: 600;
    
}

